<div class="navbar">
    <h1>Vaporwave</h1>
  <ul>
      <li><a href="mailto:matthewj.howat@gmail.com">Email: matthewj.howat@gmail.com</a></li>
      <li><a href="https://github.com/MJHowatCreations">Github: MJHowatCreations</a></li>
  </ul>

</div>

<div class="gridview">
    <div class="content-1"></div>
    <div class="content-2"></div>
    <div class="content-3"></div>
    <div class="content-4">
        <h2>Ember Trial</h2>
    </div>
    <div class="content-5">
        {{advice-generator}}
    </div>
</div>



{{outlet}}