<div class="navbar">
    <h1>Vaporwave</h1>
    <span>other content</span>

</div>

<div class="gridview">
    <div class="content-1"></div>
    <div class="content-2"></div>
    <div class="content-3"></div>
    <div class="content-4">
        <h2>Ember Trial</h2>
    </div>
</div>



{{outlet}}